<div class="game game-result">
  <div class="result-info">
    <h2>
      <span *ngIf="gameWon; then tmplWon else tmplFail"></span>
      <ng-template #tmplWon>Congratulations! You have won the game!</ng-template>
      <ng-template #tmplFail>That was close, fancy another round?</ng-template>
    </h2>
    <h3>Last number was: <strong>{{lastNumber}}</strong></h3>
    <h3>Number of correct hits: <span [class.count-won]="gameWon" [class.count-lost]="!gameWon">{{hitsCount}}</span></h3>
  </div>
  <div class="result-buttons">
    <button type="button" class="btn btn-restart" (click)="restartGame()">Back to start</button>
  </div>
</div>