header {
	background-color: #43404e;
	color: #dddae3;
	padding: 1rem 4rem;
}

.header-bar {
	display: flex;
	justify-content: space-between;
}

.header-user-info {
	display: flex;
	align-items: center;
	font-size: 1.4rem;
	padding: 0 1.2rem;
}

.header-user-info small {
	font-style: italic;
}

.user-name {
	color: #4d7bd3;
	font-weight: bold;
}

.user-name-input{
	font-size: 1.5rem;
	border-radius: 3px;
	border: 1px solid #acddff;
	padding: 0.2rem;
	max-width: 12rem;
}

.user-link {
	cursor: pointer;
	transition: color 0.3s;
}

.user-link:hover {
	color: #4d7bd3;
	cursor: pointer;
}
