<header>
  <div class="row">
    <div class="header-bar">
      <a href="/">
        <div class="header-game-info">
          <h1>Higher or lower?</h1>
        </div>
      </a>
      <div class="header-user-info">
        <div *ngIf="user">
          <h4>Hello <span class="user-name">{{user}}</span> !</h4>
          <small>(not {{user}}? <span class="user-link" (click)="changeUser()">Change it here</span>)</small>
        </div>
        <div *ngIf="!user">
          <input class="user-name-input" type="text" maxlength="10" placeholder="your name" #userName>
          <button class="btn btn-small" (click)="saveUser(userName.value)">Remember me</button>
        </div>
      </div>
    </div>
  </div>
</header>
