/* ----------------------------------------------------------- */
/* ---------------------  GAME ROUND  ------------------------ */
/* ----------------------------------------------------------- */

.round-info span {
  color: #4d7bd3;
}

.round-info h1 {
  margin-bottom: 1.4rem;
}

.round-buttons {
  margin: 1.8rem auto;
}