<div class="game game-round">
  <div class="round-info">
    <h2 class="round-number">Last number: <span>{{lastNumber}}</span></h2>
    <h3 class="round-left">Rounds left: {{5 - gameRound}}</h3>
    <h3 class="round-question">Will the next number be higher or lower?</h3>
  </div>
  <div class="round-buttons">
    <button type="button" class="btn btn-lower" (click)="guessNumber(-1)">Lower</button>
    <button type="button" class="btn btn-higher" (click)="guessNumber(1)">Higher</button>
  </div>
</div>