/* ----------------------------------------------------------- */
/* --------------------  BASIC SETUP  ------------------------ */
/* ----------------------------------------------------------- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html {
	background-color: #fff;
	color: #555;
	font-family: 'Lato', 'Arial';
	font-size: 62.5%;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}

section {
	padding: 2rem 0;
}

.row {
	max-width: 70rem;
	margin: 0 auto;
}

.game {
	display: flex;
	flex-direction: column;
}


/* .clearfix {
	zoom: 1
}

.clearfix:after {
	content: ' ';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden
} */

/* ----------------------------------------------------------- */
/* ----------------------  HEADINGS  ------------------------- */
/* ----------------------------------------------------------- */

h1, h3, h2, h4 {
  text-align: center;
}

h1 {
	font-size: 2.2rem;
	font-weight: 300;
	margin: 2rem 0;
}

h2 {
	font-size: 3rem;
	margin: 1.5rem 0;
}

h2:after {
	background-color: #365eac;
	content: " ";
	display: block;
	height: 0.1rem;
	margin: 2rem auto 0 auto;
	width: 25rem;
}

h3 {
	font-size: 2rem;
	font-weight: 300;
}

h4 {
	font-weight: 300;
}

/* ----------------------------------------------------------- */
/* ----------------------  BUTTONS  -------------------------- */
/* ----------------------------------------------------------- */

.btn {
	border: 1px solid #365eac;
	border-radius: 3px;
	background-color: #4d7bd3;
  color: #fff;
  font-size: 2rem;
	margin: 1rem 1.2rem;
	padding: 1rem 2rem;
	transition: background-color 0.3s, border-color 0.3s;
}

.btn-small {
	font-size: 1.3rem;
	margin: .5rem .6rem;
	padding: .5rem 1rem;
}

.btn:hover {
	background-color: #305db4;
	border-color: #0b3991;
}
a{
text-decoration: none; /* no underline */
}
h1{
  color: white;
}

