<div class="game game-start">
  <div class="row">
    <h2>Rules</h2>

    <ul class="rules-list">
      <li>The game starts with a random number between 1 and 10</li>
      <li>Guess if the next random number is higher or lower than the current number</li>
      <li>If you bet correctly, you win the round and the game continues.</li>
      <li>Five correct bets in a row will win you a game</li>
      <li>One wrong guess and you'll lose the game</li>
    </ul>

  </div>
  <div class="row">
    <button type="button" class="btn btn-start" (click)="startGame()">Start game</button>
  </div>
</div>